a {
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
}
* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  /* overflow-x: hidden; */
}
:root {
  --color1: black;
  --color2: white;
  --color3: #242424;
}

.home,
.services,
.products,
.careers,
.about-us,
.resources {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  font-size: 3rem;
}

.services {
  background-image: url("../public/images/room.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url("../public/images/room.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.resources {
  background-image: url("../public/images/room.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.careers {
  background-image: url("../public/images/workculture.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: yellow;
  font-size: 100px;
}
.about-us {
  background-image: url("../public/images/room.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
@media screen and (max-width: 600px) {
  .home,
  .services,
  .products,
  .sign-up,
  .about-us,
  .resources {
    font-size: 50px;
  }
}
